// ca_ is color applied

$c_bgmr_primary: #a91a13;
$c_bgmr_secondary: #db6625;

$ca_loophole_line: white;
$ca_loophole_inverted: black;

$ca_zoom_handle: $c_bgmr_secondary;
$ca_menu_active: $c_bgmr_primary;

$ca_text_color: black;

$tag-border-color: #eee;

$ca_menu_icon: $c_bgmr_secondary;
$ca_mobile_menu_background: rgba($ca_menu_icon,0.95);