
$d_gridwidth_abs: 52px;
$d_gutterwidth_abs: 20px;

$d_gridheight: 6px;

$d_lineheight: 2 * $d_gridheight;


$d_loophole_outer_radius: 45px;
$d_loophole_inner_radius: 25px;
$d_loophole_radius_width: 2px;

$d_caption_loophole_radius: 31px;
$d_caption_loophole_radius_width: 1px;