
$track-color: black;
$thumb-color: $ca_zoom_handle;

$thumb-radius: 0px;
$thumb-height: 24px;
$thumb-width: 3px;
$thumb-shadow-size: 1px;
$thumb-shadow-blur: 16px;
$thumb-shadow-color: rgba(0, 0, 0, .4);
$thumb-border-width: 1px;
$thumb-border-color: rgba(0, 0, 0, 0);

$track-width: 100%;
$track-height: 3px;
$track-shadow-size: 1px;
$track-shadow-blur: 16px;
$track-shadow-color: rgba(0, 0, 0, .5);
$track-border-width: 0px;
$track-border-color: rgba(255, 255, 255, 0);

$track-radius: 5px;
$contrast: 5%;
