.image_swapper {
  position: relative;
  overflow: hidden;

  > *:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }

  > *:last-child, > *:first-child {
    transition: opacity 0.3s;
  }

  &:hover {
    > *:fist-child {
      opacity:0;
    }
  }
  &:not(:hover) {
    > *:last-child {
      opacity:0;
    }
  }  
}