$columns_count: 24;

@function col_width_abs($gridcount:1, $additional_gutters:0, $pixel_offset:0) {
  @return $gridcount * $d_gridwidth_abs + ( $gridcount + $additional_gutters ) * $d_gutterwidth_abs + $pixel_offset;
}

$b_4_and_lower:  '(max-width: #{ col_width_abs(4, 1,-1) })';
$b_5_and_lower:  '(max-width: #{ col_width_abs(5, 1,-1) })';
$b_6_and_lower:  '(max-width: #{ col_width_abs(6, 1,-1) })';
$b_8_and_lower:  '(max-width: #{ col_width_abs(8, 1,-1) })';
$b_12_and_lower: '(max-width: #{ col_width_abs(12,1,-1) })';
$b_16_and_lower: '(max-width: #{ col_width_abs(16,1,-1) })';
$b_20_and_lower: '(max-width: #{ col_width_abs(20,1,-1) })';

@debug 'javascript: breakpoint_8 = #{ col_width_abs(8,1) / 1px }';

$b_4-8:    '(min-width: #{ col_width_abs(4, 1) }) and (max-width: #{ col_width_abs(8, 1,-1) })';
$b_8-12:   '(min-width: #{ col_width_abs(8, 1) }) and (max-width: #{ col_width_abs(12,1,-1) })';
$b_12-16:  '(min-width: #{ col_width_abs(12,1) }) and (max-width: #{ col_width_abs(16,1,-1) })';
$b_16-20:  '(min-width: #{ col_width_abs(16,1) }) and (max-width: #{ col_width_abs(20,1,-1) })';
$b_20-24:  '(min-width: #{ col_width_abs(20,1) }) and (max-width: #{ col_width_abs(24,1,-1) })';

$b_24_and_up: '(min-width: #{ col_width_abs(24,1) })';
$b_20_and_up: '(min-width: #{ col_width_abs(20,1) })';
$b_16_and_up: '(min-width: #{ col_width_abs(16,1) })';
$b_12_and_up: '(min-width: #{ col_width_abs(12,1) })';
$b_8_and_up:  '(min-width: #{ col_width_abs(8, 1) })';

@mixin grid-column-mod($layout_col,$context_col) { 
  @include grid-column($layout_col*$columns_count/$context_col);
}

$neat-grid: (
  columns: $columns_count,
  gutter: $d_gutterwidth_abs,
);

body {
  padding:0;
  margin:0;
  overflow-y: scroll;

  @if ($debug_show_grid) {
    background-size: #{ $d_gridwidth_abs + $d_gutterwidth_abs } $d_gridheight;
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px), linear-gradient(to bottom, #ddd 1px, transparent 1px), linear-gradient(to left, rgba(0,0,0,0.1) $d_gutterwidth_abs, transparent 1px);
    background-position: $d_gutterwidth_abs 0;
  }
}

#frame {
  @if ($debug_show_grid) {
    @include grid-visual;
  }
}

#page_header {
}

#content {
}





//////// debug info

@if ($debug_show_breakpoints) {
  body::after {
    @include bp($b_4-8)       { content:"b_4-8"; }
    @include bp($b_8-12)      { content:"b_8-12"; }
    @include bp($b_12-16)     { content:"b_12-16"; }
    @include bp($b_16-20)     { content:"b_16-20"; }
    @include bp($b_20-24)     { content:"b_20-24"; }
    @include bp($b_24_and_up) { content:"b_24_and_up"; }    
    position: absolute;
    top:0;
    left:0;
    padding: $d_gridheight;
    line-height: 2 * $d_gridheight;
    background: rgba(0,0,0,0.3);
    opacity: 0.7;
    font-weight: bold;
  }
}