.news_item {
  max-width: col_width_abs(12,1);
  padding: 0 $d_gutterwidth_abs;
  // @include bp($b_8_and_up) { column-count: 2; }
  text-align: left;
  margin:auto;

  margin-bottom: 4 * $d_gridheight;
  clear: both;
  overflow: hidden;

  &:first-child {
    margin-top: 2 * $d_gridheight;
  }

  .news_item_title {
    font-weight: bold;
    margin-bottom: $d_lineheight;
  }

  .news_item_preview > p {
    display:inline;
  }

  .news_item_info {
    @include bp($b_8_and_up) {
      width: calc( 50% - #{.5 * $d_gutterwidth_abs} );
      float: right;
    }
    margin-bottom: 3 * $d_gridheight;
  }

  .news_item_images {
    @include bp($b_8_and_up) {
      width: calc( 50% - #{.5 * $d_gutterwidth_abs} );
      float: left;

      img {
        height: 38 * $d_gridheight;
        &.vertical:not(:first-child) {
          height: 56 * $d_gridheight;
        }
        float:right;
        margin-bottom: 4 * $d_gridheight;
        object-fit: contain;
        object-position: top right;

        &:first-child {
          width:100%;
          object-fit: cover;
        }
      }
    }
    @include bp($b_8_and_lower) {
      img + img {
        margin-top: 4 * $d_gridheight;
      }
    }
  }

  a.read_more {
    color: $c_bgmr_primary;
    white-space: nowrap;
  }

}

.topic__image {
  display: block;
  width: calc( 100% - #{ 2*$d_gutterwidth_abs } );
  max-width: col_width_abs(12,1);
  padding: 0 $d_gutterwidth_abs;
  margin:auto;
}

.topic__headline, .topic__description, .topic__image {
  margin-bottom: 7 * $d_gridheight;
}
