// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
  margin-left: $d_gutterwidth_abs;
  margin-right: $d_gutterwidth_abs;

  &.large_gap {
    @include bp($b_8_and_up) {
      padding-top: 10 * $lineheight;
    }
  }

  padding-left: $d_gutterwidth_abs;
  padding-right: $d_gutterwidth_abs;
  max-width: col_width_abs(12,1);
  margin:auto;
}

.formatted_content {

  &.columns {
    @include bp($b_8_and_up) {
      column-count: 2;
    }
  }

  p {
    margin-bottom: $lineheight;
  }

  hr {
    -webkit-column-break-before: always;
    break-before: column;
    height:0;
    border: none;
  }
}