@keyframes dropdown-selected {  
  50% { background-color: white; }
}

#project_selection {
  margin: 0 $d_gutterwidth_abs #{6 * $d_gridheight} $d_gutterwidth_abs;
  #project_selection__areas *, #project_selection__search * {
    font-weight: normal;
  }
}

#project_selection {
  #project_selection__areas {

    width:calc(50% - #{0.5 * $d_gutterwidth_abs});
    margin-right: 0.5 * $d_gutterwidth_abs;
    float:left;
    position: relative;

    transition: max-height 0s 0.3s;
    max-height: 10 * $d_gridheight;
    &.active {
      max-height: 5 * $d_gridheight;
      transition: max-height 0s 0s;
    }


    @include bp($b_8_and_lower) { 
      width:100%; 
      margin-right: 0;
      margin-top: 2 * $d_gridheight;
    } 

    border: solid 1px $tag-border-color;
    box-sizing: border-box;

    &.active {
      label {
        border: solid 1px black;
        border-width: 0 1px 0 1px;
      }
      > :first-child label {
        border-top-width: 1px;
      }
      > :last-child label {
        border-bottom-width: 1px;
      }      
    }

    input {
      display: none;
    }

    label {
      display: flex;
      padding-left: 0.6em;
      @include prefixer(user-select, none, webkit moz ms spec);
      span {
        display: block;
      }
      transition: background-color 0.1s, max-height 0.3s;
    }

    &, label {
      overflow: hidden;
      z-index:14;
      background-color: white;
    }

    &, input:checked + label {

    }

    li {
      line-height: 5 * $d_gridheight;
    }

    &, &.active label {
      //min-height: 5 * $d_gridheight;
      overflow: visible;
    }

    &.active label {
      max-height: 10 * $d_gridheight;
    }

    &:not(.active) input:not(:checked) + label {
      max-height: 0;
    }

    .prefix {
      white-space: nowrap;
      padding-right: 0.5em;
      @include bp($b_8_and_up) { 
        visibility:hidden;
      }
    }

    label:hover, &:not(.active) input:checked:not(#area-nope) + label {
      background-color: black;
      color:white;
    }

    label:hover, &:not(.active) input:checked + label {
      .prefix {
        visibility: visible;
      }
    }

    input:checked:not(#area-nope) + label {
      animation: dropdown-selected 0.2s linear 1;
    }

    &:not(.active) input:checked + label {
      line-height: 5 * $d_gridheight - 2px;
    }

    &:not(.active):after {
      content: "▼";
      color:white;
      pointer-events: none;
      mix-blend-mode:difference;
      position: absolute;
      right: $d_gutterwidth_abs;
      bottom: 15%;
      transform: scaleX(0.9) scaleY(0.5);
    }

  }
}

#project_selection {
  #project_selection__search {

    width:calc(50% - #{0.5 * $d_gutterwidth_abs});
    margin-left: 0.5 * $d_gutterwidth_abs;
    float:left;

    @include bp($b_8_and_lower) { 
      width:100%; 
      margin-left: 0;
      margin-top: 2 * $d_gridheight;
    } 

    input {
      height: 5 * $d_gridheight;
      padding-left: 0.6em;
      border-radius: 0;
      background-color: $tag-border-color;
      border:none;
      &:focus { outline: none; }
      @include placeholder-color(#bbb);
      -webkit-appearance: none;
    }
  }
}

#project_selection {
  #project_selection__tags {

    @include bp($b_8_and_lower) { 
      display: none;
    } 

    /*
    &.active .tag:not(.active) {
      color: rgba(0,0,0,0.6);
      opacity: 0.8;
    }*/

    clear: both;

    input {
      display:none;
    }

    .tag {
      cursor:default;
      user-select: none;
      margin-top: 2 * $d_gridheight;
    }

    input:not(:checked) + label:hover {
      background-color: $tag-border-color;
    }

    input:checked + label {
      background-color: black;
      color:white;
    }

  }
}

.projects_list {
  @include grid-container;
  .projects_list_entry {

    margin-top: 2 * $d_gridheight;
    text-align: center;

    @include bp($b_8_and_lower) { 
      margin-top: 10 * $d_gridheight;
    } 

    @include grid-column(4);
    @include bp($b_4-8) { @include grid-column($columns_count/1); }
    @include bp($b_8-12) { @include grid-column($columns_count/2); }
    @include bp($b_12-16) { @include grid-column($columns_count/3); }
    @include bp($b_16-20) { @include grid-column($columns_count/4); }
    @include bp($b_20-24) { @include grid-column($columns_count/5); }
    @include bp($b_24_and_up) { @include grid-column($columns_count/6); }

    img {
      display: block;
      width: calc( 100% - #{ $d_gutterwidth_abs } );
      height: 28 * $d_gridheight;
      object-fit: contain;
      object-position: center bottom;
      margin-bottom: 2 * $d_gridheight;
      padding-left: 0.5 * $d_gutterwidth_abs;
      padding-right: 0.5 * $d_gutterwidth_abs;
    }

    .project_title {
      height: 2 * $base-line-height;
      overflow: hidden;

      @include visual_bg;      
    }

    @include visual_bg;
  }
}

.projects_list .project {
  &.hidden {
    display: none;
  }
}