// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company_row {
  @include grid-container;

  .company {

    @include grid-column(4);
    @include bp($b_8_and_lower) { @include grid-column($columns_count/1); }
    @include bp($b_8-12) { @include grid-column($columns_count/2);  &:nth-child(2n+1) { clear:both; }}
    @include bp($b_12-16) { @include grid-column($columns_count/3);  &:nth-child(3n+1) { clear:both; }}
    @include bp($b_16-20) { @include grid-column($columns_count/4);  &:nth-child(4n+1) { clear:both; }}
    @include bp($b_20-24) { @include grid-column($columns_count/5);  &:nth-child(5n+1) { clear:both; }}
    @include bp($b_24_and_up) { @include grid-column($columns_count/6); &:nth-child(6n+1) { clear:both; }}

    margin-bottom: 6 * $d_gridheight;

    @include bp($b_8-12) { 
      @include grid-column($columns_count/1); 
      height: 30 * $d_gridheight; 
    }
    @include bp($b_12_and_up) {
      height: 56 * $d_gridheight;
    }
    @include bp($b_12-16) { 
      @include grid-column($columns_count/1); 
    }
    @include bp($b_16-20) { 
      @include grid-column($columns_count/(4/3)); 
    }
    @include bp($b_20-24) { 
      @include grid-column($columns_count/(5/4)); 
      height: 72 * $d_gridheight;
    }    
    @include bp($b_24_and_up) { 
      @include grid-column($columns_count/(6/3)); 
    }    
    img {
      display: block;
      width: calc( 100% - #{ $d_gutterwidth_abs } );
      height: 28 * $d_gridheight;          
      object-fit: cover;
      object-position: center center;
      margin-bottom: 2 * $d_gridheight;
      padding-left: 0.5 * $d_gutterwidth_abs;
      padding-right: 0.5 * $d_gutterwidth_abs;      
    }

    .staff_image {
      @include bp($b_5-8) { 
        img { height: 40 * $d_gridheight; }
      }            
      @include bp($b_8-12) { 
        width: calc( 50% - #{ 0.5 * $d_gutterwidth_abs } ); 
        float:right;
      }      
      @include bp($b_12_and_up) { 
        width: 66%;  
        float:right;
        img { height: 56 * $d_gridheight; }
      }         
      @include bp($b_20-24) { 
        width: 74.4% ; 
        img { height: 72 * $d_gridheight; }
      }
    }

    .staff_text { 
      display: none;
    }

    .staff_name {
      font-weight: bold;
    }

    .staff_info {
      padding-left: 0.5 * $d_gutterwidth_abs;
      padding-right: 0.5 * $d_gutterwidth_abs; 
      @include bp($b_8-12) { 
        float:left;
        height:100%;
        padding-left: 0.5 * $d_gutterwidth_abs;
      }
      @include bp($b_12_and_up) { 
        float: left;
        height:100%;
        padding-left: 0.5 * $d_gutterwidth_abs;
      }
      position: relative;
    }

    .staff_contact {

      padding-top: $d_lineheight;
      white-space: pre;
      
      @include bp($b_8_and_up) { 
        white-space: pre;
        text-align: left;
        position:absolute;
        bottom:0;
      }
    }

    @include visual_bg;
  }

  @include visual_bg;
}





.staffs_list {
  @include grid-container;

  .staffs_list_entry {

    display: flex;
    flex-direction: column;

    margin-top: 2 * $d_gridheight;
    margin-bottom: 3 * $d_gridheight;
    text-align: flex;
    justify-content: center;

    > * {
      width: col_width_abs(4,-2);
      text-align: left;
      margin-left:auto;
      margin-right:auto;
      @include visual_bg;
    }

    &:not(.no-transition){
      transition: height 0.3s;
    }
    
    @include bp($b_8_and_lower) { 
      margin-top: 1 * $d_gridheight;
    } 

    @include grid-column(4);
    @include bp($b_8_and_lower) { @include grid-column($columns_count/1); }
    @include bp($b_8-12) { @include grid-column($columns_count/2);  &:nth-child(2n+1) { clear:both; }}
    @include bp($b_12-16) { @include grid-column($columns_count/3);  &:nth-child(3n+1) { clear:both; }}
    @include bp($b_16-20) { @include grid-column($columns_count/4);  &:nth-child(4n+1) { clear:both; }}
    @include bp($b_20-24) { @include grid-column($columns_count/5);  &:nth-child(5n+1) { clear:both; }}
    @include bp($b_24_and_up) { @include grid-column($columns_count/6); &:nth-child(6n+1) { clear:both; }}

    .staff_image {
      height: 28 * $d_gridheight;
      display: block;
      margin-bottom: 2 * $d_gridheight;      
    }

    img {
      display: block;
      width: calc( 100% - #{ $d_gutterwidth_abs } );
      height: 28 * $d_gridheight;
      width: col_width_abs(5,0);     
      object-fit: cover;
      object-position: center center;
      // padding-left: 0.5 * $d_gutterwidth_abs;
      // padding-right: 0.5 * $d_gutterwidth_abs;
    }

    .staff_info {
      padding-left: 0.5 * $d_gutterwidth_abs;
      padding-right: 0.5 * $d_gutterwidth_abs;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .staff_name {
      height: 2 * $base-line-height;
      overflow: hidden;
      font-weight: bold;

      @include visual_bg;      
    }

    .staff_text {
      flex-grow: 1;
    }

    .read_more {
      color: $c_bgmr_primary;
      cursor:pointer;
    }

    &.show_cont {
      .staff_text_2 {
        display: inline;
        opacity: 1;
      }
      .read_more {
        display: none;
      }
    }

    &:not(.show_cont) {
      .staff_text_2 {
        position: absolute;
        height:0;
        overflow: hidden;
        opacity: 0;
      }
    }

    .staff_text_2 {
      transition: opacity 0.2s;
    }

    .staff_contact {
      padding-top: $d_lineheight;
      white-space: pre;
    }

    .staff_name + .staff_contact {
      padding-top: 0;
    }

    @include visual_bg;
  }
}