// Place all the styles related to the topics controller here.

$d_topics_topic_dot_radius: 120px;
$d_topics_topic_dot_padding: 10px;

.topics_canvas {
  @include bp($b_8_and_lower) { height: 96 * $d_gridheight; }
  @include bp($b_8-12)        { height: 96 * $d_gridheight; }
  @include bp($b_12-16)       { height: 96 * $d_gridheight; }
  @include bp($b_16-20)       { height: 96 * $d_gridheight; }
  @include bp($b_20-24)       { height: 96 * $d_gridheight; }
  @include bp($b_24_and_up)   { height: 134 * $d_gridheight; }   

  &#topics { // increase specitivity
    height: calc( 100vh - #{ $d_header_margin_top + $d_header_height + 3*$d_gridheight } ); // overwrite calc-enabled browsers
  }
  position:relative;

  margin: 0 $d_gutterwidth_abs;

  .topic_container {
    position: absolute;
    width: $d_topics_topic_dot_radius;
    height: $d_topics_topic_dot_radius;
    transform: translateX(-50%) translateY(-50%);

    //transition: all 0.4s;

  }

  .topic {
    width: $d_topics_topic_dot_radius - 2 * $d_topics_topic_dot_padding;
    height: $d_topics_topic_dot_radius - 2 * $d_topics_topic_dot_padding;
    border-radius: 50%;
    background-color: grey;
    color:white;
    display: block;
    line-height: 1.1;
    text-align: center;
    font-size: 12px;
    padding:$d_topics_topic_dot_padding;
    display: table-cell;
    vertical-align: middle;
    @include must-break;

    transition: transform 0.2s;
    transition-timing-function: ease-out;
    transform: scale(0);

    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .topic_container, .topic {
    mix-blend-mode: hard-light;
  }

  .topic_container.positioned .topic {
    transform: scale(1);
  }

  @for $i from 1 through 40 {
    .topic_container:nth-child(#{$i}) .topic {
      transition: transform 0.1s #{ $i * 0.03 }s;
    }
  }
  

  @include visual_bg;
}
