// Place all the styles related to the topics controller here.

$d_topics_topic_dot_base_radius: 40px;
$d_topics_topic_dot_padding: 10px;
$d_topics_topic_dot_border_width: 2px;

@debug 'javascript: d_topics_topic_dot_base_radius = #{ strip-units($d_topics_topic_dot_base_radius) }';
@debug 'javascript: d_topics_topic_dot_padding = #{ strip-units($d_topics_topic_dot_padding) }';
@debug 'javascript: d_topics_topic_dot_border_width = #{ strip-units($d_topics_topic_dot_border_width) }';

.topics_canvas {
  @include bp($b_8_and_lower) { height: 96 * $d_gridheight; }
  @include bp($b_8-12)        { height: 96 * $d_gridheight; }
  @include bp($b_12-16)       { height: 96 * $d_gridheight; }
  @include bp($b_16-20)       { height: 96 * $d_gridheight; }
  @include bp($b_20-24)       { height: 96 * $d_gridheight; }
  @include bp($b_24_and_up)   { height: 134 * $d_gridheight; }   

  &#topics { // increase specitivity
    height: calc( 100vh - #{ $d_header_margin_top + $d_header_height + 3*$d_gridheight } ); // overwrite calc-enabled browsers
  }
  position:relative;

  margin: 0 $d_gutterwidth_abs;

  .topic_container {
    position: absolute;
    width: 2*$d_topics_topic_dot_base_radius; // modified by topics.js
    height: 2*$d_topics_topic_dot_base_radius; // modified by topics.js
    font-size: 2*$d_topics_topic_dot_base_radius; // modified by topics.js
    transform: translateX(-50%) translateY(-50%);

    //transition: all 0.4s;

    &:not(:hover) {
      z-index:4;
    }

    &:hover {
      z-index:5;
    }

  }

  .topic {
    width: 2*$d_topics_topic_dot_base_radius - 2 * $d_topics_topic_dot_padding - 2*$d_topics_topic_dot_border_width; // modified by topics.js
    height: 2*$d_topics_topic_dot_base_radius - 2 * $d_topics_topic_dot_padding - 2*$d_topics_topic_dot_border_width; // modified by topics.js
    border-radius: 50%;
    background-color: grey; // modified by inline styles
    display: inline-block;
    line-height: 1.1;
    text-align: center;
    font-size: 20%;
    padding:$d_topics_topic_dot_padding;
    display: table-cell;
    vertical-align: middle;
    @include must-break;

    transition: transform 0.2s;
    transition-timing-function: ease-out;
    transform: scale(0);

    opacity: 0.8;

    border: solid 2px;
    border-color: grey; // modified by inline styles

    &:not(:hover) {
      background-color: transparent !important; // modified by inline styles
    }

    &:hover {
      opacity: 1;
      color:white !important;
    }
  }

  .topic_container, .topic {
    mix-blend-mode: luminosity;
  }

  .topic_container.positioned .topic {
    transform: scale(1);
  }

  @for $i from 1 through 40 {
    .topic_container:nth-child(#{$i}) .topic {
      transition: background-color 0.4s, color 0.4s, transform #{ 0.8 + $i * 0.08 }s #{ ($i - 1) * 0.08 }s;
    }
  }
  

  @include visual_bg;
}
