// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body[data-section="welcome"] {
  &, & #frame, & #main {
    height:100%;
    overflow:hidden;
  }
}

#welcome {
  margin-left: $d_gutterwidth_abs;
  margin-right: $d_gutterwidth_abs;

  height: calc( 100% - #{ $d_header_margin_top + $d_header_height + 3*$d_gridheight } ) !important; // overwrite calc-enabled browsers

  .welcome__slide {
    display: block;
    height: 100%;
    @include visual_bg;
  }

  .slick-track, .slick-list {
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height:100%;
    font-family: 'object-fit: cover; object-position: center;';
  }
}