<div id="topic">

  <%= @topic.description.html_safe if @topic.description %>

  <%= image_tag @topic.image(:medium) %>

  <%= render partial: "projects/projects_list", locals: { projects: @projects } %>

</div>