table {
  border-collapse: collapse;
  margin: 0;
  table-layout: auto;
  width: 100%;
}

table, th, td {
  border:none;
  padding:0;
  letter-spacing: 0.03em;
}

table {
  width: 100% !important;
  margin-top: 2em;
  //line-height: 1.5;          
  th, tr td:first-child {
    font-weight: bold;
    white-space: no-break;
  }
  tr td:first-child {
    padding-right: 4em;
  }
  td:not(:first-child) {
    width: 100%;
  }
}

@include bp($b_8_and_lower) { 
  table, tr, td, th {
    display: block;
  }
  tr:not(:first-child) {
    margin-top: 1em;
  }
}

tr,
td,
th {
  vertical-align: top;
}
