  <ul class="news_items_list">
    <% news_items.each do |news_item| %>
      <li>
        <%= render partial: "news_items/news_item", locals: { news_item: news_item, preview: true } %>
      </li>
    <% end %>
  </ul>