<h1><%= t "projects" %></h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <a href="<%= project_path(:id => project.slug) %>">
        <%= project.title %>
      </a>
    </li>
  <% end %>
</ul>
