<h1><%= @project.title %></h1>

<div class="slides">
  <% @project.slides.each do |slide| %>
    <%= image_tag slide.image.url(:thumb) %>
    <%= slide.caption %>
  <% end %>
</div>

<div data-turbolinks-permanent><%= @project.description.html_safe %></div>

