// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

li.input > div.cke_reset {
	float: right;
}

.formtastic .inputs li {
  clear:right;
}

textarea.editable-wysihtml5 {
  min-height:770px;
}


form fieldset > ol > li fieldset:not(.has_many_fields) ol,
form fieldset > ol > li.boolean label {
  padding-left: 0;
}

fieldset.slide {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

  img {
    width:100%;
    height:auto;
    max-height: 400px;
    object-fit: contain;
  }

  .slide_link {
    //border: dashed 1px black;
    //padding: 5%;
  }
}

