// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "elements/image_swapper";

@import "activeadmin_reorderable";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

li.input > div.cke_reset {
	float: right;
}

.formtastic .inputs li {
  clear:right;
}

textarea.editable-wysihtml5 {
  min-height:770px;
}


form fieldset > ol > li fieldset:not(.has_many_fields) ol,
form fieldset > ol > li.boolean label {
  padding-left: 0;
}

.main_image img {
  width:100%;
  height:auto;
  max-height: 400px;
  object-fit: contain;
  border: 1px solid #c9d0d6;
  background-color: white;
}
/*
$loophole_editor_lineheight: 2em;
$loophole_editor_margin_left: 10px;

form fieldset.slide .slide_image {
  padding-top: 0.5*$loophole_editor_lineheight !important;
  padding-left: $loophole_editor_margin_left !important;
}

form fieldset.slide .slide_image label,
form fieldset.slide .slide_image input {
  height: $loophole_editor_lineheight !important;
}

form fieldset.slide .slide_image .inline-hints,
form fieldset.slide .slide_links {
  font-size: 0.95em;
  padding: 0 !important;
  margin: 0.5*$loophole_editor_lineheight 0 0 20% !important;
}
*/
form fieldset.slide .slide_links {
  //margin-top: 2*$loophole_editor_lineheight !important;
  position: absolute;
  top:0;
  left: 0;
  //left:$loophole_editor_margin_left;
  width:100%;
  margin:0;
  padding:0;
  //display:none;

  h3 {
    display: none;
  }

  .slide_link {
    position: absolute;
    cursor: move;
  }

  .has_many_add {
    position: absolute;
    top:0;
    right:0;
  }

  li, li * {
    position: absolute;
    left:0;
    top:0;
    padding: 0;
    margin: 0;
  }

  li p {
    transform: translateX(-50%) translateY(-50%);
  }

  .hidden,
  .to_slide label {
    display: none;
  }

  select {
    left: 20px;
  }

  .has_many_delete, .has_many_remove {
    left: 20px;
    top: 20px;

    label {
      left: 40px;
    }
  }

  .inline-hints, .inline-hints * {
    border-radius: 50%;
    border: solid 2px white;
    width:10px;
    height:10px;
    line-height:10px;
    color: transparent;
    cursor: move;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2), inset 0px 0px 15px 0px rgba(0,0,0,0.2);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -11px;
      left: -11px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: solid 2px white;
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.26), inset 0px 0px 15px 0px rgba(0,0,0,0.2);
    }
  }

  .slide_link.new .inline-hints {
    animation: blinker 1s linear 2;
  }

  @keyframes blinker {  
    50% { background-color:#ff4444; }
  }

  .slide_link {
    width: 14px;
    height: 14px;
    border-radius: 6px;

    margin:0;
    padding:0;

    z-index:555;

    background-color: transparent;
    box-shadow: none;

    &.delete_checked {
      display: none;
    }

    select, .has_many_delete, .has_many_remove {
      display:none;
    }

    &:hover {
      background-color: rgba(255,255,255,0.9);

      width: 150px;
      height: 35px;

      select, .has_many_delete, .has_many_remove {
        display:block;
      }      
    }
  }

}


.remove_checked {
  background-color: red;
}

fieldset.slide {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  margin-bottom: 15px !important;

  > * {
    position:relative;
  }

  @media screen and (min-width: 800px) {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 20px !important;
    margin-left: 15px;
    padding: 15px;
  }

  img {
    width:100%;
    height:auto;
    max-height:55vh;
    object-fit: contain;
    border: 1px solid #c9d0d6;
    background-color: white;
  }

  .slide_links .button.has_many_add {
    transform: translateY(-50%) translateX(15px);
  }

  .slide_link .to_slide select {
    left: 8px;
    top: 8px;
  }

  .slide_link .has_many_delete {
    left:30px !important;
    top: 8px !important;
    label {

      // BEGIN copy of active admin button style
      border-radius: 200px;
      display: inline-block;
      font-weight: bold;
      font-size: 1.0em;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 12px;
      margin-right: 3px;
      padding: 7px 16px 6px;
      text-decoration: none;
      background-color: #838a90;
      background-image: linear-gradient(180deg, #838a90, #414549);
      text-shadow: #000 0 1px 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
      border: solid 1px #484e53;
      border-color: #484e53;
      border-top-color: #616a71;
      border-right-color: #484e53;
      border-bottom-color: #363b3f;
      border-left-color: #484e53;
      color: #efefef;
      // END copy of active admin button style

      padding: 2px 8px;
      width: auto;

    }
    input {
      padding-top: 3px;
      display: none;
    }
  }

  .slide_link .has_many_remove {
    left: 70px !important;
    top: 8px !important;
    padding: 2px 8px;
  }

  .slide_links {
    //border: dashed 1px black;
    //padding: 5%;
  }
/*
  .slide_link {
    position: absolute;
    top:0;
    left:0;
    //border: dashed 1px black;
    //padding: 5%;
  }
  */
}

/* index pages and filters */
th.col {
  text-transform: none;
}

.filter_form .label {
 text-transform: none; 
}

input[readonly="readonly"],
input[readonly] {
  background-color: #F4F4F4;
  border: 0px solid #F4F4F4 !important;  
}

form fieldset.inputs {
  background-color: #f5f5f5;
}

form input[type=text], 
form input[type=password], 
form input[type=email], 
form input[type=number], 
form input[type=url], 
form input[type=tel], 
form input[type=date], 
form input[type=time], 
form textarea {
  padding-left: 7px;
}


.show_slideshow_images img {
  margin-right: 6px;
}

@media screen and (min-width: 400px) {
  .input.order {
    
    float:left;
    width: 50%;
    
    label {
      width: 40%;
    }

    input {
      width: 2em;
    }

    & + li {
      float:right;
    }
  }
}

.topic_dot {
  border-radius: 50%;
  height:40px;
  width:40px;
}

form .indent {
  margin-left: 20%;
}

form fieldset > ol > li fieldset:not(.has_many_fields) ol {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (min-width: 600px) { column-count: 2; }
  @media screen and (min-width: 800px) { column-count: 3; }
  @media screen and (min-width: 1100px) { column-count: 4; }
  li {
    margin: 0;
    + li {
      margin-top: 0.2em;
    }
  }
  input {
    margin-right: 0.5em !important;
    &::before {
      content: "";
      width: 1em;
      height: 1em;
      border-radius: 50%;
    }
  }
}

form fieldset ol > li label {
  font-weight: normal;
}